PORT=
NEXT_PUBLIC_DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# MAIL_HOST=
# MAIL_PORT=
# MAIL_USER=
# MAIL_USER_PASS=

# MAIL_HOST=
# MAIL_PORT=
# MAIL_USER=
# MAIL_USER_PASS=

NEXT_PUBLIC_MAIL_HOST=
NEXT_PUBLIC_MAIL_PORT=
NEXT_PUBLIC_MAIL_USER=
NEXT_PUBLIC_MAIL_USER_PASS=

# https://smsdual.info/
NEXT_PUBLIC_SMSDUAL_PASS=
NEXT_PUBLIC_SMSDUAL_USERNAME=
NEXT_PUBLIC_SMSDUAL_FROM=

NEXT_PUBLIC_QUOTATION_QR_URL_KEY=