PORT=3765
DATABASE_URL="mysql://{user}:{password}@localhost:3306/{db name}"

NEXTAUTH_SECRET="PohxWOxoVBt+Tb/I8FNmZHuMs2DiroAsyIUGUzxZEcc="
NEXTAUTH_URL=http://localhost:3765

# Email Integration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_USER_PASS=

# Sms Integration https://smsdual.info/
SMSDUAL_PASS=
SMSDUAL_USERNAME=
SMSDUAL_FROM=